!/secret.d/.gitkeep
*.elc
.DS_Store
.edbi-ds-history
.mc-lists.el
.org-id-locations
.session
/.lsp-session-v1
/haskell-ide-engine
/lsp-cache
/migemo-pattern
/network-security.data
/recentf
/secret.d/*
/transient
/newsticker
abbrev_defs
ac-comphist.dat
anything-c-adaptive-history
auto-install
auto-save-list
bookmarks
ddskk
ede-projects.el
el-get/*
elpa
eshell
games
pandoc-mode
redmine-config.el
semanticdb/*
server
srecode-map.el
tramp
tutorial
twittering-tinyurl-api-key.el
url
vendor
*.~undo-tree~
